body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: burlywood;
    color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b68973;
    padding: 15px 30px;
}
.logo {
    color: azure;
    font-size: 1.5em;
    margin: 0;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-links a {  
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color: pink;
}
.hero {
    text-align: center;
    padding: 60px;
}
footer {
    background-color: #3d2b1f;
    color: antiquewhite;
    text-align: center;
    padding: 1px;
}
.menu {
    padding: 40px 20px;
    text-align: center;
}
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.menu-card {
    background-color: #632a04;
    border-radius: 10px;
    width: 170px;
    padding: 15px;
}
.menu-card img {
    width: 100%;
    border-radius: 10px;
}
.menu-card p {
    color: #b68973;
    font-weight: bold;
}
.contact-info {
    text-align: center;
    margin: 20px;
}
.contact-section {
    text-align: center;
    margin: 50px;
}
.feature-item {
    text-align: center;
    margin: 20px;
}